.about-me-container {
    padding-bottom: 7rem;
    margin-top: 10rem;
    margin-inline: 5rem;
}

.about-me-container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.about-me-text {
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me-text div {
    width: 30%;
    margin-bottom: 2rem;
}

.about-me-text div:nth-child(2) {
    float: right;
}