#home-page {
    /* height: 100vh;
    display: flex;
    flex-direction: row;
        */
    background-color: #dca694;
}

#home-text-left,
#home-text-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#home-text-left h2,
#home-text-right h2 {
    font-size: 4rem;
    color: #ff144c;
}

#home-text-left p,
#home-text-right p {
    font-size: 1.3rem;
    color: #111439;
}

#home-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#home-image img {
    height: 150%;
    width: auto;
}
 .under-construction {
     display: flex;
     justify-content: center;
 }

 .under-construction h1 {
     font-size: 8rem;
     animation: rainbow 15s ease-in-out infinite;
 }

 @keyframes rainbow {
     0% {
         color: red;
     }

     20% {
         color: orange;
     }

     40% {
         color: yellow;
     }

     60% {
         color: green;
     }

     80% {
         color: blue;
     }

     100% {
         color: purple;
     }
 }