.container-head {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-inline: 10rem;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    align-items: center;
    max-width: 35rem;
}

.title-head {
    font-size: 6rem;
    color: var(--primary-color);
    margin: 0;
    width: 100%;
}

.subtitle-head {
    font-size: 1.5rem;
    width: 100%;
    color: var(--tertiary-color);
}

.work-image-head {
    width: 255px;
    height: 255px;
    border: 3px solid var(--tertiary-color);
    border-radius: 50%;
    justify-self: flex-end;
    margin-right: 8vw;
}